<mat-card>
  <mat-card-header class="mat-card-header mat-primary rounded-top">
    <mat-card-title>View Student</mat-card-title>
    <fw-key class="pe-1" [Parameter]="_resetPassword"></fw-key>
    <fw-history-info class="pe-1" [Parameter]="_historyrecordParameter"></fw-history-info>
    <mat-icon class="pe-1" (click)="navigateToStudentList()" mat-button class="cursor-pointer"
      matTooltipPosition="above" matTooltip="Back TO Staff List">backspace</mat-icon>
  </mat-card-header>
  <div class="scrolldiv">
    <mat-card-content>
      <form id="editStudent">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Student Details</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                  <fw-textbox entity="Name" label="Name" Case="U" [isrequired]="true"
                    [(modelValue)]="request.studentName" min="3" maxlength="50"></fw-textbox>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <fw-textbox entity="Initial" label="Initial" Case="U" [(modelValue)]="request.initial"
                    [isrequired]="true" min="1" maxlength="5"></fw-textbox>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                  <fw-select entity="gender" label="Gender" [isrequired]="true" [(modelValue)]="request.gender"
                    commaSeparatedString="Male,FeMale"></fw-select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                  <fw-select entity="studentType" label="Student Type" commaSeparatedString="New Admission,Old Student"
                    [(modelValue)]="request.studentType" [isrequired]="true"></fw-select>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <fw-date label="DOB" [isrange]="false" [isrequired]="true" [(modelValue)]="request.dob"
                    min="1975-01-01" max="-3|y" [(daydiff)]="age" [(triggerdaydiff)]="agetrigger"></fw-date>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                  <fw-textbox entity="age" label="Age" [isdisabled]="true" [(modelValue)]="age"></fw-textbox>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <fw-select entity="bloodGroup" label="Blood Group" [isrequired]="true"
                    commaSeparatedString="A+,A-,AB+,AB-,A1B+,A1B-,A2+,A2-,A2B+,A2B-,B+,B-,B1+,O+,O-"
                    [(modelValue)]="request.bloodGroup"></fw-select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <fw-select entity="community" label="Community"
                    commaSeparatedString="SC,ST,BC,BC Muslims (OBC),OBC,OC,OC (EWS),DNC,SCC,SCA,MBC,MBCV"
                    [(modelValue)]="request.community"></fw-select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                  <fw-textbox entity="AadharCardNo" label="Aadhar Card No" min="12" maxlength="12" [isrequired]="true"
                    [(modelValue)]="request.aadharCardNo" [isNumberOnly]="true"></fw-textbox>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <fw-Image-upload [size]="150" [gender]="request.gender" [(guid)]="request.guid" [fileupload]="true"
                    [filesize]="500" [PK]="requestPK.sysid" uploadto="student"></fw-Image-upload>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="religion" label="Religion" commaSeparatedString="Christian,Hindu,Muslim"
                [(modelValue)]="request.religion"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="physicalDisablity" label="Physical Disability" commaSeparatedString="Yes,No"
                [(modelValue)]="request.physicalDisability" [isrequired]="true"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="PlaceofBirth" label="Place of Birth" min="0" maxlength="50"
                [(modelValue)]="request.placeOfBirth"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-autocomplete entity="MotherTongue" label="Mother Tongue" apiUrl="/Student/GetStudentAutoComplete"
                [(modelValue)]="request.motherTongue" valueAndname="column,column" [parameter]="motherTonguerequest"
                min="0" maxlength="50"></fw-autocomplete>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="volunteers" label="Volunteers" commaSeparatedString="NSS,RRC,YRC,NO"
                [(modelValue)]="request.volunteers"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="firstLanguage" label="First Language"
                commaSeparatedString="Tamil,English,French,Hindi,Malayalam,Urdu,Telugu,Sanskrit"
                [(modelValue)]="request.firstLanguage"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-email entity="EmailID" label="Email ID" maxlength="30" [isrequired]="false"
                [(modelValue)]="request.emailid"></fw-email>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="ExtraCurricularActivities" label="Extra Curricular Activities" min="0" maxlength="50"
                [(modelValue)]="request.extraCurricularActivities"></fw-textbox>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-autocomplete entity="Caste" label="Caste" apiUrl="/Student/GetStudentAutoComplete"
                [(modelValue)]="request.caste" valueAndname="column,column" [parameter]="Casterequest"
                [isrequired]="true" min="0" maxlength="50"></fw-autocomplete>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="GuardianName" label="Guardian Name" min="0" maxlength="50"
                [(modelValue)]="request.guardianName"></fw-textbox>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="FatherName" label="Father Name / Husband Name" min="0" maxlength="50"
                [(modelValue)]="request.fatherName"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="MobileNo" label="Father Mobile Number" min="10" maxlength="10" [isNumberOnly]="true"
                [(modelValue)]="request.mobileNo" [isrequired]="true"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="FatherOccupation" label="Father Occupation" min="0" maxlength="50"
                [(modelValue)]="request.fatherOccupation"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="FatherIncome" label="Father Income" maxlength="10" [isNumberOnly]="true"
                [(modelValue)]="request.fatherIncome"></fw-textbox>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="MotherName" label="Mother Name" min="0" maxlength="50"
                [(modelValue)]="request.motherName"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="MotherMobileNumber" label="Mother Mobile Number" min="10" maxlength="10"
                [isNumberOnly]="true" [(modelValue)]="request.mobileNo2"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="MotherOccupation" label="Mother Occupation" min="0" maxlength="50"
                [(modelValue)]="request.motherOccupation"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="MotherIncome" label="Mother Income" maxlength="10" [isNumberOnly]="true"
                [(modelValue)]="request.motherIncome"></fw-textbox>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="ApplicationNumber" label="Application Number" min="0" maxlength="15"
                [(modelValue)]="request.applicationNumber" [isrequired]="true"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="AdmissionNumber" label="Admission Number" min="0" maxlength="15"
                [(modelValue)]="request.admissionNumber" [isrequired]="true"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="AdmissionSerialNumber" label="Admission Serial Number" min="0" maxlength="15"
                [(modelValue)]="request.admissionSerialNumber" [isrequired]="true"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

            </div>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Permanent Address Details</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="ParmanentAddress1" label="Address 1" maxlength="50"
                [(modelValue)]="request.parmanentAddress1"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="ParmanentAddress2" label="Address 2" maxlength="50"
                [(modelValue)]="request.parmanentAddress2"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="ParmanentAddressPincode" label="Postal Code" maxlength="6" [isNumberOnly]="true"
                [(modelValue)]="request.parmanentAddressPincode" [isrequired]="true"
                (keyup)="onParmanentAddressPincodeChanges()"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="ParmanentAddressPostOffice" label="Post Office Name" apiUrl="/Common/GetPostOffice"
                [isrequired]="true" valueAndname="officeName,officeName"
                (onSelectChange)="onParmanentAddressPostOfficeValueChanges($event)"
                [(parameter)]="parmanentpostalrequest" [(triggerAPI)]="parmanentpostaltriggerApi"
                (apiResponseChange)="onParmanentAddressPostOfficeAPIResponse($event)"
                [(modelValue)]="request.parmanentAddressPostOffice"></fw-select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="ParmanentAddressDistrict" label="District"
                [(modelValue)]="request.parmanentAddressDistrict" maxlength="30"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="ParmanentAddressState" label="State" [(modelValue)]="request.parmanentAddressState"
                maxlength="30"></fw-textbox>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Communication Address Details</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="CommunicationAddress1" label="Address 1" maxlength="50"
                [(modelValue)]="request.communicationAddress1"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="CommunicationAddress2" label="Address 2" maxlength="50"
                [(modelValue)]="request.communicationAddress2"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="CommunicationAddressPincode" label="Postal Code" maxlength="6" [isNumberOnly]="true"
                [isrequired]="true" [(modelValue)]="request.communicationAddressPincode"
                (keydown)="onCommunicationAddressPincodeChanges()"
                [(modelValue)]="request.communicationAddressPincode"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="CommunicationAddressPostOffice" label="Post Office Name" apiUrl="/Common/GetPostOffice"
                [isrequired]="true" valueAndname="officeName,officeName"
                (onSelectChange)="onCommunicationAddressPostOfficeValueChanges($event)"
                [(parameter)]="CommunicationAddressrequest" [(triggerAPI)]="CommunicationpostaltriggerApi"
                (apiResponseChange)="onCommunicationAddressPostOfficeAPIResponse($event)"
                [(modelValue)]="request.communicationAddressPostOffice"></fw-select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="CommunicationAddressDistrict" label="District"
                [(modelValue)]="request.communicationAddressDistrict" maxlength="30"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="CommunicationAddressState" label="State"
                [(modelValue)]="request.communicationAddressState" maxlength="30"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pt-2">
              <fw-checkbox (modelValueChange)="onCheckboxValueChange($event)"
                label="Same as Parmanent Address"></fw-checkbox>
            </div>
          </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Class details <fw-history-info class="pe-1"
                [Parameter]="_historyrecordClass"></fw-history-info></mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-date label="Date of Admission" [isrange]="false" [isrequired]="true"
                [(modelValue)]="request.dateOfAdmission" min="1975-01-01" max="0|d"></fw-date>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="className" label="Class Name" [isrequired]="true" [apicache]="true"
                apiUrl="/Class/GetClassListActive" [(modelValue)]="request.classSysId" valueAndname="sysId,className"
                [triggerAPIOnload]="true" [(isSelectChange)]="triggersectionApi"
                (onSelectChange)="onClassChange()"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="section" label="Section" [isrequired]="true" [(parameter)]="sectionrequest"
                apiUrl="/ClassSection/GetActiveSections" [(modelValue)]="request.classSectionSysId"
                [(triggerAPI)]="triggersectionApi" valueAndname="sysId,sectionName"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="acadamicYear" label="Acadamic Year" [isrequired]="true" [apicache]="true"
                apiUrl="/AcademicYear/GetActiveAcademicYearList" [(modelValue)]="request.academicYearSysId"
                valueAndname="sysId,year" [triggerAPIOnload]="true" [isFirstOptionEmpty]="false"></fw-select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="broSysStudyingStudied"
                label="Is any of your sister/brother studying/studied in this college" commaSeparatedString="Yes,No"
                [(modelValue)]="request.broSysStudyingStudied"
                (onSelectChange)="onbroSysStudyingStudiedChange()"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="nameBroSys" label="If yes mention the name and batch"
                [(modelValue)]="request.nameBroSys" max="20" [isrequired]="brother"
                [isdisabled]="!brother"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="modeOfTransport" label="Mode of transport"
                commaSeparatedString="Any other,School bus,Private" [(modelValue)]="request.modeOftransport"
                (onSelectChange)="onmodeOfTransportChange()"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-textbox entity="boardingPoint" label="Boarding point in case of school bus"
                [(modelValue)]="request.boardingPoint" max="30" [isrequired]="boardingPoint"></fw-textbox>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="hostel" label="Hostel" commaSeparatedString="Yes,No"
                [(modelValue)]="request.hostel"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="documentEnclosed" label="Document Enclosed" [isMultiSelect]="true"
                commaSeparatedString="Aadhar Card,Bank Pass Book,Community Certificate,Transfer Certificate,X th Mark Sheet,XI th Mark Sheet,XII th Mark Sheet"
                [(modelNotSelected)]="request.documentNotEnclosed"
                [(modelValue)]="request.documentEnclosed"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Document</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-file-upload [isrequired]="true" [filesize]="500000" accept="image and document" validationgroup="DU"
                [(filename)]="DocumentLibraryRequest.fileName" [(data)]="DocumentLibraryRequest.data"
                [(contenttype)]="DocumentLibraryRequest.contentType"></fw-file-upload>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <fw-select entity="DocumentType" label="Document Type"
                commaSeparatedString="Aadhar Card,Admission Form,Bank Pass Book,Community Certificate,Transfer Certificate,X th Mark Sheet,XI th Mark Sheet,XII th Mark Sheet"
                [isrequired]="true" validationgroup="DU" [(modelValue)]="DocumentLibraryRequest.fileType"
                [isdisabled]="editStuddoc"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pt-2">
              @if (!editStuddoc) {
              <fw-button label="Add Document" validationgroup="DU" (formvalidationtrue)="AddDocument()"></fw-button>
              } @if (editStuddoc) {
              <fw-button label="Update Document" validationgroup="DU"
                (formvalidationtrue)="UpdateDocument()"></fw-button>
              }
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <fw-table [tableSettings]="tableSettingsDocument" [jsonData]="this.DocumentLibraryList"
                (matEditClickChange)="onEditDocumentClick($event)" (DeleteapiCalled)="GetStudentDocument()"></fw-table>
            </div>
          </div>
        </mat-expansion-panel>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center pt-2">
            <fw-button label="Update Student Details" apiUrl="/Student/UpdateStudent" buttontype="S"
              [parameter]="request"></fw-button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>
