<mat-toolbar class="mat-primary">
  <button mat-icon-button class="example-icon" (click)="toggleDrawer()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span><img id="LayoutImageLogo" height="30" width="200" alt="Logo" [src]="src" /></span>

  <span class="ps-3">
    <input type="search" class="form-control focus-ring focus-ring-primary" placeholder="Search..." #IDLayoutSerach
      id="IDLayoutSerach" aria-label="Search" [(ngModel)]="searchText" (input)="onInputChange()"
      [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectChange($event)">
      @if (arrayDate.length > 0) {
      @for (item of arrayDate; track item) {
      <mat-option [value]="item.value">{{ item.text }}</mat-option>
      }
      }
    </mat-autocomplete>
  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="go to Dashboard" routerLink="/CMS/Dashboard">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button (click)="darkMode()">
    <mat-icon>{{ darkmode ? 'brightness_2' : 'brightness_7' }}</mat-icon>
  </button>
  <button mat-icon-button aria-label="refresh page" (click)="refreshPage()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button [matMenuTriggerFor]="Matmenunav" class="user-menu-btn">
    <div class="user-info">
      <small class="text-small mat-card-header mat-primary">{{ userName }}</small>
      <fw-Image-upload tabindex="0" [fileupload]="false" [guid]="guid" size="30" id="LayoutUserImage"></fw-Image-upload>
    </div>
  </button>
  <mat-menu #Matmenunav="matMenu">

    @if (showChangePassword) {
    <button mat-menu-item [routerLink]="'SMS/ChangePassword'" aria-label="Change Password">Change Password</button>
    }

    <button mat-menu-item (click)="Logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
