{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 450
      }
    },
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true,
        "semi": true
      }
    }
  ]
}
