<mat-card>
  <mat-card-content>
    <form id="addApplicationForm">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <fw-textbox entity="applicationNumber" label="Application Number" [isrequired]="true" [(modelValue)]="request.applicationNo" (modelValueChange)="onRequestChange(request)"></fw-textbox>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <fw-textbox entity="studentName" label="Student Name" [isrequired]="true" [(modelValue)]="request.studentName" (modelValueChange)="onRequestChange(request)"></fw-textbox>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <fw-textbox entity="mobileNumber" label="Mobile Number" [isrequired]="true" min="10" maxlength="10" [isNumberOnly]="true" [(modelValue)]="request.mobileNo" (modelValueChange)="onRequestChange(request)"></fw-textbox>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <fw-textbox entity="altMobileNumber" label="Alternate Mobile Number" [isrequired]="true" min="10" maxlength="10" [isNumberOnly]="true" [(modelValue)]="request.alternateMobileNo" (modelValueChange)="onRequestChange(request)"></fw-textbox>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <fw-select entity="status" label="Status" [triggerAPIOnload]="true" [(modelValue)]="request.status" [isrequired]="true" commaSeparatedString="Joined,Not Joined" [isFirstOptionEmpty]="false" (onSelectChange)="onRequestChange(request)"></fw-select>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
