<mat-form-field class="MatInput">
  <mat-label>
    {{ label }}
    @if (_required) {
      <span class="text-danger">*</span>
    }
  </mat-label>
  <input type="email" matInput #input (input)="onInputChange($event)" [disabled]="_disabled" [attr.maxLength]="maxlength" [value]="_modelValue" [attr.aria-label]="label" [attr.ErrorMessage]="message" [attr.name]="entity" [attr.min]="min" [attr.aria-required]="_required" [attr.aria-validationgroup]="validationgroup" />
  @if (_modelValue && _showClearAll) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInputValue()" tabindex="-1">
      <mat-icon tabindex="0">close</mat-icon>
    </button>
  }
  @if (_showMaxCount) {
    <mat-hint align="end">{{ input.value.length }}/{{ maxlength }}</mat-hint>
  }
</mat-form-field>
