<mat-card>
  <mat-card-header class="mat-card-header mat-primary rounded-top">
    <mat-card-title class="d-flex justify-content-between w-100">
      Gentrate Fees
    </mat-card-title>
  </mat-card-header>
  <div class="scrolldiv">
    <mat-card-content class="p-2">
      <form id="Course">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
            <fw-select entity="acadamicYear" label="Acadamic Year" apiUrl="/AcademicYear/GetAcademicYearList"
              [triggerAPIOnload]="true" [(modelValue)]="request.acadamicYear" valueAndname="sysId,year"
              [isrequired]="true" [triggerAPIOnload]="true" [apicache]="true"></fw-select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
            <fw-select entity="classfkid" label="Class" [isrequired]="true" [apicache]="true"
              apiUrl="/Class/GetClassListActive" [(modelValue)]="request.classfkid" valueAndname="sysId,className"
              [triggerAPIOnload]="true" (onSelectChange)="onClassChange()"
              [(isSelectChange)]="triggerSectionAPI"></fw-select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
            <fw-select entity="sectionfkid" label="Section" [isrequired]="true" [(parameter)]="sectionrequest"
              apiUrl="/ClassSection/GetActiveSections" [(modelValue)]="request.sectionfkid"
              valueAndname="sysId,sectionName" [(triggerAPI)]="triggerSectionAPI"></fw-select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2">
            <fw-select entity="feestypefkid" label="Fees Type" [isrequired]="true" apiUrl="/FeesType/GetFeesType"
              [(modelValue)]="request.feestypefkid" valueAndname="sysid,feesDescription"
              [triggerAPIOnload]="true"></fw-select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-1 col-xl-1">
            <fw-textbox entity="amount" label="Amount" min="3" [isrequired]="true" [(modelValue)]="request.amount"
              [isNumberOnly]="true"></fw-textbox>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 pt-3">
            <fw-button label="View" [loading]="_loading" (formvalidationtrue)="calltableapi()"></fw-button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
            <fw-table [tableSettings]="tableSettings" [jsonData]="this.datalist" [parameter]="request"
              apiUrl="/FeesType/GetFeesListView" [(triggerAPI)]="triggerTableAPI"></fw-table>
          </div>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>