<mat-card>
  <mat-card-header class="mat-card-header mat-primary rounded-top">
    <mat-card-title>Holiday Workingday</mat-card-title>
  </mat-card-header>
  <div class="scrolldiv">
    <mat-card-content>
      <form id="Holiday">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <fw-date label="Date" [isrange]="false" [(modelValue)]="request.date" [isrequired]="true"></fw-date>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <fw-select entity="type" label="Type" [isrequired]="true" [(modelValue)]="request.status" commaSeparatedString="Holiday,Working Day" (onSelectChange)="ontypeChanges($event)"></fw-select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <fw-select entity="day" label="Day" [isrequired]="dayrquired" [(modelValue)]="request.workingDay" commaSeparatedString="Day-01,Day-02,Day-03,Day-04,Day-05,Day-06"></fw-select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
            <fw-button label="Add Day" apiUrl="/Calendar/AddHoliday" [parameter]="request" (apiResponseSuccess)="ClearFormAndReload()"></fw-button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <fw-select entity="year" label="Year" [triggerAPIOnload]="true" apiUrl="/Calendar/GetCalendarYear" [isFirstOptionEmpty]="false" valueAndname="year,year" [apicache]="true" [(modelValue)]="this.ListRequest.year" (isSelectChangeChange)="onValueChage()"></fw-select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <fw-table [tableSettings]="tableSettings" [jsonData]="this.holidayList"></fw-table>
          </div>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>
