.scrolldiv {
  &::-webkit-scrollbar {
    width: 5px;
  }

  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 106px);

  &::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;

    &:hover {
      background: rgb(100, 100, 100);
      border-radius: 10px;
    }

    &:active {
      background: rgb(68, 68, 68);
      border-radius: 10px;
    }
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 8px;
  overflow: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 5px;

  &:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

  &:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }
}
