<mat-card>
  <mat-card-header class="mat-card-header mat-primary rounded-top">
    <mat-card-title class="d-flex justify-content-between w-100">
      Student Mark Entry

      <!-- <mat-icon #tooltip="matTooltip" aria-label="Button that displays a tooltip that hides when scrolled out of the container">info</mat-icon> -->
    </mat-card-title>
    @if (isRequestValid()) {
      <fw-download icon="print" [disableclick]="true" (click)="openPrintPopup()" desc="print" class="pe-1"></fw-download>
    }
    <fw-download [disableclick]="true" icon="info" class="multiline-tooltip" desc="1. Mark 888 is Absent | 2. Mark 999 is OD"></fw-download>
  </mat-card-header>
  <div class="scrolldiv">
    <mat-card-content class="p-2 z-80">
      <form id="MarkEntry">
        <app-CommonFilter [apiurl]="apidetails" class="" [parameter]="filterparameter" [triggercatch]="triggercatch" (parameterChange)="onParameterChange($event)" [(Semester)]="request.semester" (sectionIsChange)="loadgrid()">
          <div class="section-one">
            <fw-select entity="semester" label="Semester" apiUrl="/Common/GetSemesterList" valueAndname="value,text" [isrequired]="true" [apicache]="true" [triggerAPIOnload]="true" (onSelectChange)="loadgrid()" [(modelValue)]="request.semester"></fw-select>
          </div>
          <div class="section-two">
            <fw-select entity="subjectID" label="Subject Name" apiUrl="/Subject/GetSubjectDetails" valueAndname="subjectId,subjectName" [isrequired]="true" [(triggerAPI)]="triggersubjectAPI" [parameter]="request" (apiResponseChange)="onSubjectAPIResponse($event)" [(modelValue)]="request.subjectID" (onSelectChange)="onSubjectChanges($event)"></fw-select>
          </div>
        </app-CommonFilter>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            <fw-textbox entity="SubjectCode" label="Subject Code" Case="U" [(modelValue)]="subjectcode" [isdisabled]="true"></fw-textbox>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            <fw-textbox entity="SubjectCredit" label="Subject Credit" [isdisabled]="true" [(modelValue)]="subjectcredit" Case="U"></fw-textbox>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            <fw-textbox entity="SubjectType" label="Subject Type" [isdisabled]="true" [(modelValue)]="subjecttype" Case="U"></fw-textbox>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            <fw-textbox entity="MarginMark" label="Minimum Pass Mark" [isdisabled]="true" [(modelValue)]="marginMark" Case="U"></fw-textbox>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            <fw-select entity="examtype" label="Exam Type" [isrequired]="true" [(modelValue)]="request.examType" commaSeparatedString="Internal I,Internal II,Model"></fw-select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pt-3 d-flex">
            <fw-button label="View" buttontype="S" apiUrl="/StudentMarkDetails/GetStudentMarkDetails" [parameter]="request" (apiResponseChange)="onViewData($event)" [triggerbutton]="triggerviewbutton"></fw-button>
            &nbsp;&nbsp;
            @if (updatedrecord.length > 0) {
              <fw-button label="Save" buttontype="S" apiUrl="/StudentMarkDetails/UpdateStudentMarks" [parameter]="updatedrecord" (apiResponseSuccess)="onupdateResponse()"></fw-button>
            }
          </div>
        </div>

        <div class="row" #tableContainer>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <fw-table [tableSettings]="tableSettings" [jsonData]="StudentMark"></fw-table>
          </div>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>
