<mat-card>
  <mat-card-header class="mat-card-header mat-primary rounded-top">
    <mat-card-title class="d-flex justify-content-between w-100">Class Incharge</mat-card-title>
  </mat-card-header>
  <div class="scrolldiv">
    <mat-card-content class="p-2">
      <form id="ClassIncharge">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <fw-select entity="DepartmentCode" label="Department Name" [isrequired]="true" [triggerAPIOnload]="true" [(modelValue)]="Staffrequest.departmentCode" apiUrl="/Staff/GetStaffActiveDepartmentList" valueAndname="departmentCode,departmentName" [(isSelectChange)]="triggerstaffapi"></fw-select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <fw-select entity="Staff" label="Staff Name" [isrequired]="true" [(modelValue)]="request.staffCode" apiUrl="/Staff/GetStaffNameListByDepartmentCode" valueAndname="sysid,name" [(triggerAPI)]="triggerstaffapi" [(parameter)]="Staffrequest" [(modelText)]="request.name"></fw-select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"></div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"></div>
        </div>
        <app-CommonFilter [apiurl]="apidetails" class="" [parameter]="childparameter" (parameterChange)="onParameterChange($event)">
          <div class="section-one pt-3">
            <fw-button label="Save" buttontype="S" apiUrl="/StaffIncharge/InsertStaffIncharge" [parameter]="request" (apiResponseSuccess)="onRespons($event)"></fw-button>
          </div>
        </app-CommonFilter>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <fw-table [tableSettings]="tableSettings" [jsonData]="this.staffIncharge" (DeleteapiCalled)="GetStaffList()"></fw-table>
          </div>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>
