<mat-card>
  <mat-card-header class="mat-card-header mat-primary rounded-top">
    <mat-card-title class="d-flex justify-content-between w-100">Add Subject</mat-card-title>
  </mat-card-header>
  <div class="scrolldiv">
    <mat-card-content class="p-2">
      <form id="ClassIncharge">
        <app-CommonFilter [apiurl]="apidetails" class="" [hidesection]="true" [parameter]="filterparameter" [isdisabled]="isdisabled" [triggercatch]="triggercatch" (parameterChange)="onParameterChange($event)" (courseIsChange)="loadgrid()" [(Semester)]="request.semester">
          <div class="section">
            <fw-select entity="semester" label="Semester" apiUrl="/Common/GetSemesterList" valueAndname="value,text" [isrequired]="true" [apicache]="true" [triggerAPIOnload]="true" (onSelectChange)="loadgrid()" [isdisabled]="isdisabled" [(modelValue)]="request.semester"></fw-select>
          </div>
          <div class="section-one pt-3">
            @if (!editenabled) {
              <fw-button label="Add Subject" buttontype="S" apiUrl="/Subject/InsertSubjectDetail" [parameter]="request" (apiResponseSuccess)="onRespons($event)"></fw-button>
            } @else {
              <fw-button label="Update Subject" buttontype="S" apiUrl="/Subject/UpdateSubjectDetails" [parameter]="updateRequest" (apiResponseSuccess)="onUpdateRespons($event)"></fw-button>
            }
          </div>
          @if (editenabled) {
            <div class="section-two pt-3">
              <fw-button label="Cancel Update" buttontype="D" (click)="onCancel()"></fw-button>
            </div>
          }
        </app-CommonFilter>
        @if (!editenabled) {
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
              <fw-textbox entity="subjectName" label="Subject Name" maxlength="50" [isrequired]="true" Case="U" [(modelValue)]="request.subjectName"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
              <fw-textbox entity="SubjectCode" label="Subject Code" maxlength="30" [isrequired]="true" Case="U" [(modelValue)]="request.subjectCode"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <fw-select entity="SubjectCredit" label="Credit" [(modelValue)]="request.subjectCredit" [isrequired]="true" commaSeparatedString="1|01,2|02,3|03,4|04,5|05,6|06,7|07,8|08,9|09,10|10"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <fw-select entity="SubjectType" label="Subject Type" [(modelValue)]="request.subjectType" [isrequired]="true" commaSeparatedString="Core,Soft Skills"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <fw-textbox entity="MarginMark" label="Minimum Pass Mark" maxlength="3" [isrequired]="true" [isNumberOnly]="true" [(modelValue)]="request.marginMark"></fw-textbox>
            </div>
          </div>
        } @else {
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
              <fw-textbox entity="subjectName" label="Subject Name" maxlength="50" [isrequired]="true" Case="U" [(modelValue)]="updateRequest.subjectName"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
              <fw-textbox entity="SubjectCode" label="Subject Code" maxlength="30" [isrequired]="true" Case="U" [(modelValue)]="updateRequest.subjectCode"></fw-textbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <fw-select entity="SubjectCredit" label="Credit" [(modelValue)]="updateRequest.subjectCredit" [isrequired]="true" commaSeparatedString="1|01,2|02,3|03,4|04,5|05,6|06,7|07,8|08,9|09,10|10"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <fw-select entity="SubjectType" label="Subject Type" [(modelValue)]="updateRequest.subjectType" [isrequired]="true" commaSeparatedString="Core,Soft Skills"></fw-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <fw-textbox entity="MarginMark" label="Minimum Pass Mark" maxlength="3" [isrequired]="true" [isNumberOnly]="true" [(modelValue)]="updateRequest.marginMark"></fw-textbox>
            </div>
          </div>
        }
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <fw-table [tableSettings]="tableSettings" [jsonData]="tabledata" [parameter]="request" (apiResponseChange)="onTableResponse($event)" apiUrl="/Subject/GetSubjectDetails" [(triggerAPI)]="triggerTableAPI" (matEditClickChange)="onEditClick($event)"></fw-table>
          </div>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>
