<mat-form-field class="MatInput">
  <mat-label>
    {{ label }}
    @if (_required) {
      <span class="text-danger">*</span>
    }
  </mat-label>
  <input [type]="hide ? 'password' : 'text'" matInput #input (input)="onInputChange($event)" [attr.maxLength]="maxlength" [value]="_modelValue" [attr.aria-label]="label" [attr.ErrorMessage]="message" [attr.name]="entity" [attr.min]="min" [attr.aria-required]="_required" [attr.aria-validationgroup]="validationgroup" />

  <button matSuffix mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" tabindex="-1">
    <mat-icon tabindex="0">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>

  @if (_showMaxCount) {
    <mat-hint align="end">{{ input.value.length }}/{{ maxlength }}</mat-hint>
  }
</mat-form-field>
