<mat-card>
  <mat-card-header class="mat-card-header mat-primary rounded-top">
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <div class="scrolldiv">
    <mat-card-content>
      <form id="ChangePassword">
        <mat-card appearance="outlined" class="content-container mat-elevation-z8">
          <mat-card-content>
            <div class="row">
              <div class="col-lg-12">
                <fw-password entity="Old Password" label="Old Password" [(modelValue)]="request.oldPassword"></fw-password>
              </div>
              <div class="col-lg-12">
                <fw-password entity="New Password" min="8" label="New Password" [(modelValue)]="request.newPassword" (keyup)="validatePassword()"></fw-password>
                <span class="form-text small text-muted">
                  <mat-icon [ngClass]="hasUppercase ? 'text-success' : 'text-danger'">{{ hasUppercase ? 'check_circle' : 'cancel' }}</mat-icon>
                  One Uppercase Letter

                  <mat-icon [ngClass]="hasLowercase ? 'text-success' : 'text-danger'">{{ hasLowercase ? 'check_circle' : 'cancel' }}</mat-icon>
                  One Lowercase Letter

                  <mat-icon [ngClass]="hasNumber ? 'text-success' : 'text-danger'">{{ hasNumber ? 'check_circle' : 'cancel' }}</mat-icon>
                  One Number

                  <mat-icon [ngClass]="hasSpecialChar ? 'text-success' : 'text-danger'">{{ hasSpecialChar ? 'check_circle' : 'cancel' }}</mat-icon>
                  One Special Character

                  <mat-icon [ngClass]="hasMinLength ? 'text-success' : 'text-danger'">{{ hasMinLength ? 'check_circle' : 'cancel' }}</mat-icon>
                  8 Characters Long
                </span>
              </div>
              <div class="col-lg-12">
                <fw-password entity="Confirm Password" min="8" label="Confirm Password" [(modelValue)]="request.confirmPassword" (keyup)="validatePassword()"></fw-password>
                <span class="form-text small text-muted">
                  <mat-icon [ngClass]="matchnewPassword ? 'text-success' : 'text-danger'">{{ matchnewPassword ? 'check_circle' : 'cancel' }}</mat-icon>
                  Match Password
                </span>
              </div>
              <div class="col-lg-12 pt-5 text-center">
                <fw-button label="Change Password" [isdisabled]="buttonDisabled" apiUrl="/CMS/ChangePassword" [parameter]="request" (apiResponseSuccess)="onRespons()"></fw-button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-card-content>
  </div>
</mat-card>
