<mat-card>
  <mat-card-header class="mat-card-header mat-primary rounded-top">
    <mat-card-title>Batch</mat-card-title>
  </mat-card-header>
  <div class="scrolldiv">
    <mat-card-content>
      <form id="batch">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <fw-date [isrequired]="true" label="Batch Start and End" [isrange]="true" [(startValue)]="AddBatchRequest.fromDate" [(endValue)]="AddBatchRequest.toDate" [inputdisabled]="true" type="date" (endValueChange)="onRespons()"></fw-date>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <fw-textbox label="Batch" [(modelValue)]="batch" [isdisabled]="true"></fw-textbox>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <fw-select entity="courseType" label="Course Type" [isrequired]="true" commaSeparatedString="UG|UG,PG|PG" (onSelectChange)="onCourseTypeChanges($event)" [(modelValue)]="AddBatchRequest.courseType"></fw-select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
            <fw-button label="Add Batch" apiUrl="/Batch/AddBatch" [parameter]="AddBatchRequest" (apiResponseSuccess)="ReloadForm()"></fw-button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <fw-table [tableSettings]="tableSettings" [jsonData]="this.batchList"></fw-table>
          </div>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>
