<mat-card>
  <mat-card-header class="mat-card-header mat-primary rounded-top">
    <mat-card-title class="d-flex justify-content-between w-100">
      SMS Dashboard
    </mat-card-title>
  </mat-card-header>
  <div class="scrolldiv">
    <mat-card-content class="p-2">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="table-title mb-1">Student Count Class Wise</div>
          <fw-table
            apiUrl="/Dashboard/GetStudentCountClassWise"
            [tableSettings]="tableSettings"
            [(triggerAPI)]="triggerTableAPI"
            (apiResponseChange)="onTableResponse($event)">
          </fw-table>
        </div>
      </div>
    </mat-card-content>
  </div>
</mat-card>
