/* You can add global styles to this file, and also import other style files */
@use '@fortawesome/fontawesome-free/css/all.css';
@use './assets/MaterialStyle/textbox.scss';
@use './assets/MaterialStyle/select.scss';
@use './assets/CSS/ErrorTag.scss';
@use './assets/CSS/bootstrap.scss';
@use './assets/CSS/MatInput.scss';
@use './assets/CSS/scrollbar.scss';
 //@use './assets/CSS/theme.scss';
 @use "@angular/material/prebuilt-themes/indigo-pink.css";
.dropdown-toggle {
	&::after {
		display: inline-block;
		margin-left: 0.255em;
		vertical-align: 0.255em;
		border-top: 0;
		border-right: 0 !important;
		border-bottom: 0 !important;
		border-left: 0 !important;
	}
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-card-header {
  display: flex;
  padding: 6px 6px 0 !important;
}
.mat-mdc-card-header-text{
  width: 100%;
}
.mdc-tooltip  {
  white-space: pre-line;
}
.RecordInfo .mdc-tooltip__surface.mdc-tooltip__surface-animation {
  max-width: 240px;
}
.mat-mdc-form-field{
  width: 100%;
}
.col-lg-2-5 {
  flex: 0 0 20.83%;
  max-width: 20.83%;
}
.col-md-2-5 {
  flex: 0 0 20.83%;
  max-width: 20.83%;
}
html {
	--mat-card-title-text-font: Roboto, sans-serif !important;
	--mat-card-title-text-line-height: 32px !important;
	--mat-card-title-text-size: 20px !important;
	--mat-card-title-text-tracking: 0.0125em !important;
	--mat-card-title-text-weight: 500 !important;
	--mat-card-subtitle-text-font: Roboto, sans-serif !important;
	--mat-card-subtitle-text-line-height: 22px !important;
	--mat-card-subtitle-text-size: 14px !important;
	--mat-card-subtitle-text-tracking: 0.0071428571em !important;
	--mat-card-subtitle-text-weight: 500 !important;
  --bs-body-font-size : 20px !important;
  --mat-toolbar-title-text-size: 20px !important;
}
